@import 'variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  text-decoration: none;
}

html {
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  user-select: none;
}

html {
  height: 100%;
  height: -webkit-fill-available;
  -webkit-tap-highlight-color: transparent;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: inherit;
}

body {
  font-family: $sofia;
}

span {
  display: flex;
  gap: .5rem;
}

a {
  color: inherit;
  text-decoration: none;
}
