@import 'base';
@import 'variables';
@import 'mixins';

.title {
  font-size: clamp(1.2rem, 2.5vw, 1.7rem);
  font-weight: 600;
}

.paragraph-wrapper {
  font-size: clamp(.9rem, 2.5vw, 1rem);
  font-weight: 300;
  display: grid;
  gap: .5rem;
}
