@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@100&family=Sofia+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900;1000&family=Sofia+Sans:wght@100&display=swap');

@import 'reset';
@import 'variables';
@import 'mixins';

body {
  box-sizing: border-box;
  font-family: $sofia;
  font-size: 16px
}

span {
  display: flex;
  gap: 1rem;
}

a {
  color: inherit;
}
