@import 'base';
@import 'variables';
@import 'mixins';

.ticket {
  position: relative;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: .7em;
    top: calc(.9em - 1px);
    height: .9em;
    width: .6em;
    background: lighten($secoundary, 5);
  }

  &:before {
    left: 0px;
    border-radius: 0 1em 1em 0;
  }

  &:after {
    right: 0px;
    border-radius: 1em 0 0 1em;
  }
}
